title Secure Checkout

.container
  .row
    .col-lg-12
      form(name="orderForm" ng-submit="checkout(orderForm, newOrder)")
        wizard(on-finish="finishedWizard()") 
          wz-step(wz-title="Shipping" wz-disabled="{{disabled}}")
            h3 Shipping Address
            p Please select one of your saved addresses or add a new address.
            
            //ns-show-address(address="newOrder.shippingAddress" ng-hide="newOrder.shippingAddress | isEmpty")
            ns-select-address(address="newOrder.shippingAddress" addresses="shippingAddresses" type="Shipping" ng-if="shippingState === 'Select'")
            ns-add-address(address="newOrder.shippingAddress" type="Shipping" state="return" ng-if="shippingState === 'New'")
            
            button.btn.btn-primary(ng-click="setShippingState('New')" ng-show="shippingState === 'Default'") Add a New Address 
            button.btn.btn-primary(ng-click="setShippingState('Select')" ng-show="shippingState === 'Default'") Use an Existing Address 
            button.btn.btn-primary(ng-click="setShippingState('Default')" ng-show="shippingState !== 'Default'") Back
            
            input(type="submit" wz-next value="Continue")

          wz-step(wz-title="Payment")
            h3 Choose a Payment Method




            input(type="submit" wz-next value="Continue")

          wz-step(wz-title="Billing")
            h3 Billing Address
            
            //ns-show-address(address="newOrder.billingAddress")
            //ns-select-address(address="newOrder.billingAddress" addresses="shippingAddresses" type="Shipping")
            ns-add-address(address="newOrder.billingAddress" type="Billing" state="return")
            
            button.btn.btn-primary(ng-click="setBillingState('New')" ng-show="billingState === 'Default'") Add a New Address 
            button.btn.btn-primary(ng-click="setBillingState('Select')" ng-show="billingState === 'Default'") Use an Existing Address 
            button.btn.btn-primary(ng-click="setBillingState('Default')" ng-show="billingState !== 'Default'") Back

            input(type="submit" wz-next value="Continue")          

          wz-step(wz-title="Review")    
            p Please review all information before finalizing this order
            button.btn.btn-primary(type='submit') Process Order

          span.err(ng-show="errorMsg") {{errorMsg}}







            //
              .form-group(ng-class='{ "has-success": orderForm.country.$valid && submitted, "has-error": orderForm.country.$invalid && submitted}')
                label(for="country") Country
                select.form-control(name="country" ng-model="newOrder.shipping.country" ng-change="populateProvinces(newOrder.shipping.country)" required)
                  option(ng-repeat="country in countries" ng-value="country") {{country}}
                p.help-block(ng-show='orderForm.country.$error.required && submitted')
                  | Please select a country.

              .form-group(ng-class='{ "has-success": orderForm.province.$valid && submitted, "has-error": orderForm.province.$invalid && submitted}' ng-show="provinces.length > 0")
                label(for="province") Province
                select.form-control(name="province" ng-model="neworder.shipping.province" ng-change="populateCities(neworder.shipping.province)" required)
                  option(ng-repeat="province in provinces" ng-value="province") {{province}}
                p.help-block(ng-show='orderForm.province.$error.required && submitted')
                  | Please select a province.

              .form-group(ng-class='{ "has-success": orderForm.street.$valid && submitted, "has-error": orderForm.street.$invalid && submitted}')
                label(for="street") Street order
                input.form-control(type="text" name="street" placeholder="Please enter a street order." ng-model="neworder.shipping.street" required)
                p.help-block(ng-show='orderForm.street.$error.required && submitted')
                  | Please enter a street order.
                p.help-block(ng-show='orderForm.street.$error.mongoose')
                  | {{ errors.street }}

              .form-group(ng-class='{ "has-success": orderForm.city.$valid && submitted, "has-error": orderForm.city.$invalid && submitted}')
                label(for="city") City
                input.form-control(type="text" name="city" placeholder="Pleae enter a city." ng-model="newOrder.shipping.city" required)
                p.help-block(ng-show='orderForm.city.$error.required && submitted')
                  | Please enter a city.
                p.help-block(ng-show='orderForm.city.$error.mongoose')
                  | {{ errors.city }}
              
              .form-group(ng-class='{ "has-success": orderForm.pobox.$valid && submitted, "has-error": orderForm.pobox.$invalid && submitted}')
                label(for="pobox") PO Box (if applicable)
                input.form-control(type="text" name="pobox" placeholder="Pleae enter a PO Box number if applicable." ng-model="neworder.shipping.pobox")
                p.help-block(ng-show='orderForm.pobox.$error.mongoose')
                  | {{ errors.pobox }}

              .form-group(ng-class='{ "has-success": orderForm.aptNumber.$valid && submitted, "has-error": orderForm.aptNumber.$invalid && submitted}')
                label(for="aptNumber") Apartment Number (if applicable)
                input.form-control(type="text" name="aptNumber" placeholder="Pleae enter an apartment number if applicable." ng-model="neworder.shipping.aptNumber")
                p.help-block(ng-show='orderForm.aptNumber.$error.mongoose')
                  | {{ errors.aptNumber }}

              .form-group(ng-class='{ "has-success": orderForm.postalCode.$valid && submitted, "has-error": orderForm.postalCode.$invalid && submitted}')
                label(for="postalCode") Postal Code
                input.form-control(type="text" name="postalCode" placeholder="Pleae enter a postal code." ng-model="neworder.shipping.postalCode" pattern="[a-zA-Z]{1}[0-9]{1}[a-zA-Z]{1}(\s|-)?[0-9]{1}[a-zA-Z]{1}[0-9]{1}" mongoose-error='' required)
                p.help-block(ng-show='orderForm.postalCode.$error.required && submitted')
                  | Please enter a postal code.
                p.help-block(ng-show='orderForm.postalCode.$error.pattern && submitted')
                  | This postal code is not in the correct format. Please enter a postal code in the format 'A1A2B2'.
                p.help-block(ng-show='orderForm.postalCode.$error.mongoose')
                  | {{ errors.postalCode }}