
.container
  .row
    .col-lg-4
      ul.list-group
        li.list-group-item 
          //make this a dropdown
          a(href="/settings/account") Account Details  
        li.list-group-item
          a(href="/settings/rewards") My Rewards
        li.list-group-item
          a(href="/settings/orders") Order History
    .col-lg-8
      ui-view


