
.container
  .row
    .col-lg-4.col-md-4.col-sm-4
      ul.list-group
        li.list-group-item 
          //make this a dropdown
          a(ui-sref="settings.account") Account Details  
        li.list-group-item
          a(ui-sref="settings.rewards") My Rewards
        li.list-group-item
          a(ui-sref="settings.myWishlist({wishlist: myWishlist})") Wishlist
        li.list-group-item
          a(ui-sref="settings.paymentOptions") Payment Options
        li.list-group-item
          a(ui-sref="settings.orderHistory") Order History
    .col-lg-8.col-md-8.col-sm-8
      ui-view


