
.container
  .flex-settings(layout="row")
    md-sidenav.md-sidenav-left(md-component-id="leftNav" md-disable-backdrop md-is-locked-open="true" flex="25")
      md-list
        md-list-item
          a(ui-sref="settings.account.info") Account Details
        md-list-item
          a(ui-sref="settings.rewards") My Rewards
        md-list-item
          a(ui-sref="settings.myWishlist({id: user.wishlist._id})") Wishlist
        md-list-item
          a(ui-sref="settings.paymentOptions") Payment Options
        md-list-item
          a(ui-sref="settings.orderHistory") Order History
    md-content(flex="75")
      ui-view
