.container(ng-controller="TestCtrl")
  alert-message
  p(ng-if="!isActive && isLoggedIn") You have not activated your account. Click 
    span(ng-click="sendActivationEmail()") 
      b  here 
    span  to activate your account.
