
form.form(name="testForm" ng-submit="formSubmit(testForm, formObj)" novalidate)
  ns-email(form="testForm" model="formObj" errors="errors" submitted="submitted")
  button.btn.btn-primary(type="submit") Submit
