h2 Rewards

.rewards(ng-if="user.reward")
	p Card Number: {{user.reward.cardNumber}}
	p Card Balance: {{user.reward.points}}

.create-rewards(ng-if="!user.reward")
	button.btn.btn-primary(ng-click="createRewards()") Sign up for our rewards program!
