
ul.list-group
	li.list-group-item Nickname: {{address.nickname}}
	li.list-group-item Street Address: {{address.street}}
	li.list-group-item City: {{address.city}}
	li.list-group-item Postal Code: {{address.postalCode}}
	li.list-group-item Province: {{address.province}}
	li.list-group-item Country: {{address.country}}
