
//md-list
	md-list-item Nickname: {{address.nickname}}
	md-list-item Street Address: {{address.street}}
	md-list-item City: {{address.city}}
	md-list-item Postal Code: {{address.postalCode}}
	md-list-item Province: {{address.province}}
	md-list-item Country: {{address.country}}

ul.list-group
	li.list-group-item Nickname: {{address.nickname}}
	li.list-group-item Street Address: {{address.street}}
	li.list-group-item City: {{address.city}}
	li.list-group-item Postal Code: {{address.postalCode}}
	li.list-group-item Province: {{address.province}}
	li.list-group-item Country: {{address.country}}
