h2 Change Email

form.form(name='emailForm' ng-submit='updateUser(emailForm, user._id, userUpdates)' novalidate)
	.form-group(ng-class='{ "has-success": emailForm.email.$valid && submitted, "has-error": emailForm.email.$invalid && submitted}')
		label New Email
		input.form-control(type='email' name='email' ng-model='userUpdates.email' pattern="[A-Za-z0-9]+@([A-Za-z])+(\\.[A-Za-z]+)+" mongoose-error='' required)
		p.help-block(ng-show='emailForm.email.$error.required && submitted')
			| Please enter an email address.
		p.help-block(ng-show='emailForm.email.$error.pattern && submitted')
			| This email address is not in the correct format. Please enter an email address in the format 'example@example.com'.
		p.help-block(ng-show='emailForm.email.$error.mongoose')
			| {{ errors.other }}

	button.btn.btn-lg.btn-primary(type='submit') Save changes
