
.col-lg-12
	p Name: {{user.name}}
	p Email: {{user.email}}
	p Phone Number: {{user.phoneNumber}}
	p Receive Promotional Emails?: {{user.promotionalEmails | yesNo}}

	form.form(name='infoForm' ng-submit='updateUser(infoForm, user._id, userUpdates)' novalidate)
		.form-group(ng-class='{ "has-success": infoForm.email.$valid && submitted, "has-error": infoForm.email.$invalid && submitted}')
			label Email
			input.form-control(type='email' name='email' placeholder="Please enter an email address." ng-model='userUpdates.email' pattern="[A-Za-z0-9]+@[A-Za-z]+(\\.[A-Za-z]+)+" required)
			p.help-block(ng-show='infoForm.email.$error.required && submitted')
				| Please enter an email address.
			p.help-block(ng-show='infoForm.email.$error.pattern && submitted')
				| This email address is not in the correct format. Please enter an email address in the format 'example@example.com'.
			p.help-block(ng-show='infoForm.email.$error.mongoose')
				| {{ errors.email }}

		.form-group(ng-class='{ "has-success": infoForm.phoneNumber.$valid && submitted, "has-error": infoForm.phoneNumber.$invalid && submitted}')
			label Phone Number
			input.form-control(type='tel' name='phoneNumber' placeholder="Please enter a phone number." ng-model='userUpdates.phoneNumber' pattern='((1-)|1)?[0-9]{3}-?[0-9]{3}-?[0-9]{4}' required)
			p.help-block(ng-show='infoForm.phoneNumber.$error.required && submitted')
				| Please enter a phone number.
			p.help-block(ng-show='infoForm.phoneNumber.$error.pattern && submitted')
				| The phone number you entered is not in the correct format.
			p.help-block(ng-show='infoForm.phoneNumber.$error.mongoose')
				| {{ errors.phoneNumber }}

		.form-group(ng-class='{ "has-success": infoForm.promos.$valid && submitted, "has-error": infoForm.promos.$invalid && submitted}')
			label Receive Promotional Emails?
			input.form-control(type='checkbox' name='promos' ng-model='userUpdates.promotionalEmails')
			p.help-block(ng-show='infoForm.promos.$error.mongoose')
				| {{ errors.promotionalEmails }}

		button.btn.btn-md.btn-primary(type='submit') Save changes




	//form.form(name='emailForm' ng-submit='updateUser(emailForm, user._id, userUpdates)' novalidate)
		.form-group(ng-class='{ "has-success": emailForm.email.$valid && submitted, "has-error": emailForm.email.$invalid && submitted}')
			label Email
			input.form-control(type='email' name='email' placeholder="Please enter an email address." ng-model='userUpdates.email' pattern="[A-Za-z0-9]+@([A-Za-z])+(\\.[A-Za-z]+)+" required)
			p.help-block(ng-show='emailForm.email.$error.required && submitted')
				| Please enter an email address.
			p.help-block(ng-show='emailForm.email.$error.pattern && submitted')
				| This email address is not in the correct format. Please enter an email address in the format 'example@example.com'.
			p.help-block(ng-show='emailForm.email.$error.mongoose')
				| {{ errors.other }}

	//form.form(name='phoneForm' role='form' ng-submit='updateUser(phoneForm, user._id, userUpdates)' novalidate)
		.form-group(ng-class='{ "has-success": phoneForm.phoneNumber.$valid && submitted, "has-error": phoneForm.phoneNumber.$invalid && submitted}')
			label Phone Number
			input.form-control(type='tel' name='phoneNumber' placeholder="Please enter a phone number." ng-model='userUpdates.phoneNumber' pattern='((1-)|1)?[0-9]{3}-?[0-9]{3}-?[0-9]{4}' required)
			p.help-block(ng-show='phoneForm.phoneNumber.$error.required && submitted')
				| Please enter a phone number.
			p.help-block(ng-show='phoneForm.phoneNumber.$error.pattern && submitted')
				| The phone number you entered is not in the correct format.
			p.help-block(ng-show='phoneForm.phoneNumber.$error.mongoose')
				| {{ errors.other }}

	//form.form(name="preferencesForm" ng-submit="updateUser(preferencesForm, user._id, userUpdates)")
		.form-group(ng-class='{ "has-success": preferencesForm.promos.$valid && submitted, "has-error": preferencesForm.promos.$invalid && submitted}')
			label Receive Promotional Emails?
			input.form-control(type='checkbox' name='promos' ng-model='userUpdates.promotionalEmails')
			p.help-block(ng-show='infoForm.promos.$error.mongoose')
				| {{ errors.other }}
