h2 Shipping Address

form.form(name='shippingForm', role='form' ng-submit='shippingForm.$valid && updateUser(user)')
	.form-group
		label(for="street") Street Address: 
		input.form-control(type="text" name="street" placeholder="Enter your street address." ng-model="user.shippingAddress.street" required)
	.form-group
		label(for="city") City:
		input.form-control(type="text" name="city" placeholder="Enter your city." ng-model="user.shippingAddress.city" required)
	.form-group
		label(for="province") Province: 
		input.form-control(type="select" name="province" placeholder="Select your province." ng-model="user.shippingAddress.province" required)
	.form-group
		label(for="postalCode") Postal Code:
		input.form-control(type="text" name="postalCode" placeholder="Select your province." ng-model="user.shippingAddress.postalCode" required)
	button.btn.btn-primary(ng-disabled='shippingForm.$invalid' type='submit') Save Changes
