footer.footer(ng-controller="FooterCtrl")
  .container
    alert-message
    p ns-store
    p(ng-if="!isActive && isLoggedIn") You have not activated your account. Click 
      span(ng-click="sendActivationEmail()") 
        b  here 
      span  to activate your account.
