
form(name="resetForm" action="/api/users/reset" method="POST")
  input(type="hidden" value="#{hash}")
  .input-group
    label New Password:
    input(type="password" name="newPassword")
  .input-group
    label Confirm Password:
    input(type="password" name="confirmPassword")
  button.btn-primary(type="submit") Reset Password
