
form(name="resetForm" action="http://localhost:9000/api/users/reset" method="PUT")
  input(type="hidden" name="resetToken" value="#{data.token}")
  .input-group
    label New Password:
    input(type="password" name="newPassword")
  .input-group
    label Confirm Password:
    input(type="password" name="confirmPassword")
  button.btn-primary(type="submit") Reset Password
