$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
//@import '/bower_components/susy/sass/susy';

/**
 * App-wide Styles
 */

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.no-touch {
	pointer-events: none;
}

/*
** FLEX GENERICS
*/

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}


.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  .flex-row-element {
    flex: 1;
    padding: 0px 2px 0px 3px;
  }
}

.flex-horizontal-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
** FLEX COLUMNS
*/

//used to create header-body-footer format
.flex-header-footer-body {
  @extend .flex-column;
  padding: 1%;

  .flex-header {
    flex: 10;
    padding: 2% 1% 2% 1%;
  }

  .flex-content {
    flex: 80;
    padding: 1%;
  }

  .flex-footer {
    flex: 10;
    padding: 2% 1% 2% 1%;
  }
}

//used to create vertical list layout with Padding between List Elements but not against the surrounding container
.flex-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .flex-list-element {
    padding: 5px 0px 5px 0px;
  }
}

//used with 'flex-gallery-row' to create a gallery-style layout
.flex-gallery {
  @extend .flex-column;
  justify-content: flex-start;
  padding: 10px;

  .flex-gallery-row {
    @extend .flex-row;
    padding: 1% 0% 1% 0%;

    .flex-row-element {
      padding: 0px 5px 0px 5px;
    }
  }
}

.flex-gallery-adaptive {
  padding: 10px;
  @extend .flex-row;
  justify-content: flex-start;
  flex-wrap: wrap;

  .flex-gallery-element {
    padding: 0px 5px 0px 5px;
  }
}

form.form-wrapper {
  //width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .input-group {
    padding: 1% 0 1% 0;
  }
}

.flex-navbar-vertical {
  @extend .flex-column;
  justify-content: space-around;
  border: 1px solid #c6c6c6; //dark gray1
  border-radius: 5px;
  background-color: #f0f0f0; // light gray1

  .flex-nav-header {
    flex: 20;
    @extend .ns-navbar;
  }

  .flex-nav-element {
    flex: 10;
    @extend .ns-navbar;
  }
}

.flex-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

/*
** FLEX ROWS
*/

//used to create a sidebar-content layout
.flex-sidebar-content {
  @extend .flex-row;
  padding: 10px 0px 10px 0px;

  .flex-sidebar {
    flex: 25;
    padding: 0px 5px 0px 10px;
  }
  .flex-content {
    flex: 75;
    padding: 0px 10px 0px 5px;
  }
}

//used to create an asymmetrical Forum/post row (e.g. postname, content, misc)
.flex-three-tab-row {
  @extend .flex-row;
  padding: 5px 0px 5px 0px;

  .flex-row-element {
    flex: 0;
    padding: 0px 5px 0px 5px;
  }

  .flex-row-element:nth-child(2) {
    flex: 32;
  }

  .flex-row-element:nth-child(3) {
    flex: 32;
  }

  .flex-row-element:nth-child(4) {
    flex: 32;
  }

  .arrow-left {
    flex: 2;
    @extend .flex-vertical-center;
    font-size: 20pt;
  }

  .arrow-right {
    flex: 2;
    @extend .flex-vertical-center;
    font-size: 20pt;
  }
}

//used to create layout where multiple smaller images wrap-around a larger image
.flex-wrap-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  img:first-child {
    width: 300px;
    height: 300px;
  }
  .flex-element {
    img {
      width: 100px;
      height: 100px;
    }
  }
}

/*@media (max-width: 480px) {

}*/

.ns-navbar {
  padding: 10px;
  a {
    color: #747474;
  }
  a:hover {
    color: darken(#747474, 100%);
  }
}

.flex-navbar {
  @extend .flex-row;
  justify-content: space-around;
  border: 1px solid #c6c6c6; //dark gray1
  border-radius: 5px;
  background-color: #f0f0f0; // light gray1

  .flex-nav-header {
    flex: 20;
    @extend .flex-horizontal-center;
    @extend .ns-navbar;
  }

  .flex-nav-element {
    flex: 10;
    @extend .flex-horizontal-center;
    @extend .ns-navbar;
  }
}


/*
** Miscellaneous
*/


.top-right {
	position: absolute;
	right: 5px;
	top: 5px;
}

.bottom-right {
	position: absolute;
	right: 5px;
	bottom: 5px;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.wrappable-flex-row {
  @extend .flex-row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-elem {
  flex: 1 1 0;
  padding: 5px;
}

//////////// UTILITY ////////////

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.highlightOption {
	border: 1px solid green;
}

.pad-left {
  padding: 0px 0px 0px 8px;
}

.pad-right {
  padding: 0px 8px 0px 0px;
}

.line-through {
  text-decoration: line-through;
}

.on-sale-text {
  font-weight: bold;
  color: red;
}

.bordered {
  border: 1px solid lighten(grey, 25%);
  border-radius: 5px;
}

.nav-selected {
  background-color: darken(#f0f0f0, 5%);
  border: 1px solid darken(#f0f0f0, 10%);
  border-radius: 5px
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'computer/stylesheets/show.scss';
@import 'main/main.scss';
@import 'product/index.scss';
@import 'review/review.scss';
@import 'test/test.scss';
@import 'user/index.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
