$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
//@import '/bower_components/susy/sass/susy';

/**
 * App-wide Styles
 */

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*
** FLEX GENERICS
*/

.flex-container {
    .row {

    }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}


.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  .flex-row-element {
    flex: 1;
    padding: 0px 2px 0px 3px;
  }
}

/*
** FLEX COLUMNS
*/

//used to create header-body-footer format
.flex-header-footer-body {
  @extend .flex-column;
  padding: 1%;

  .flex-header {
    flex: 10;
    padding: 2% 1% 2% 1%;
  }

  .flex-content {
    flex: 80;
    padding: 1%;
  }

  .flex-footer {
    flex: 10;
    padding: 2% 1% 2% 1%;
  }
}

//used to create vertical list layout
.flex-list {
  @extend .flex-column;
  justify-content: flex-start;

  .flex-list-element {
    padding: 5px 0px 5px 0px;
  }
}

//used with 'flex-gallery-row' to create a gallery-style layout
.flex-gallery-column {

}

form.form-wrapper {
  //width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .input-group {
    padding: 1% 0 1% 0;
  }
}

/*
** FLEX ROWS
*/

//used to create a sidebar-content layout
.flex-sidebar-content {
  @extend .flex-row;
  padding: 10px 0px 10px 0px;

  .flex-sidebar {
    flex: 25;
    padding: 0px 5px 0px 10px;
  }
  .flex-content {
    flex: 75;
    padding: 0px 10px 0px 5px;
  }
}

//used to create an asymmetrical Forum/post row (e.g. postname, content, misc)
.flex-post-row {
  @extend .flex-row;

  .flex-row-element {
    padding: 0px 5px 0px 5px;
  }

  .flex-row-element:nth-child(1) {
    flex: 15;
  }
  .flex-row-element:nth-child(2) {
    flex: 70;
  }
  .flex-row-element:nth-child(3) {
    flex: 15;
  }
}

//used with 'flex-gallery-column' to create a gallery-style layout
.flex-gallery-row {

}

//used to create layout where multiple smaller images wrap-around a larger image
.flex-wrap-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  img:first-child {
    width: 300px;
    height: 300px;
  }
  .flex-element {
    img {
      width: 100px;
      height: 100px;
    }
  }
}


/*@media (max-width: 480px) {

}*/


.flex-navbar {
  @extend .flex-row;
  justify-content: space-between;
  border: 1px solid #c6c6c6; //dark gray1
  border-radius: 5px;
  background-color: #f0f0f0; // light gray1

  .flex-nav-element {
    padding: 10px;
    a {
      color: #747474;
    }
    a:hover {
      color: darken(#747474, 100%);
    }
  }
}

.nav-selected {
  background-color: darken(#f0f0f0, 50%);
}


/*
** Miscellaneous
*/


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.top-right {
	position: absolute;
	right: 5px;
	top: 5px;
}

.bottom-right {
	position: absolute;
	right: 5px;
	bottom: 5px;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.wrappable-flex-row {
  @extend .flex-row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-elem {
  flex: 1 1 0;
  padding: 5px;
}


.highlightOption {
	border: 1px solid green;
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'computer/stylesheets/show.scss';
@import 'main/main.scss';
@import 'musescore/musescore.scss';
@import 'product/index.scss';
@import 'review/review.scss';
@import 'test/test.scss';
@import 'user/index.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
