title Secure Checkout

.container
  .row
    .col-lg-12
      form(name="checkoutform" ng-submit="checkoutform.$valid && checkout()")
        wizard(on-finish="finishedWizard()") 
          wz-step(wz-title="Checkout" wz-disabled="{{disabled}}")
            h2 Shipping Address
            .form-group
              label(for="street") Street Address: 
              input.form-control(type="text" name="street" placeholder="Enter your street address." ng-model="order.shippingAddress.street" required)
            .form-group
              label(for="city") City:
              input.form-control(type="text" name="city" placeholder="Enter your city." ng-model="order.shippingAddress.city" required)
            .form-group
              label(for="province") Province: 
              input.form-control(type="select" name="province" placeholder="Select your province." ng-model="order.shippingAddress.province" required)
            .form-group
              label(for="postalCode") Postal Code:
              input.form-control(type="text" name="postalCode" placeholder="Enter your postal code." ng-model="order.shippingAddress.postalCode" required)

            input(type="submit" wz-next value="Continue")

          wz-step(wz-title="Rewards")
            h2 Sale Information
            .checkbox-inline  
              label On Sale?
                input(type='checkbox' name='onSale' ng-model='newComputer.onSale')
            .embedded-form(ng-show="newComputer.onSale")
              p Please input the details of the sale
              input.form-control(type="date" placeholder="Enter the sale's start date here." ng-model="newComputer.sale.startDate")
              input.form-control(type="date" placeholder="Enter the sale's end date here." ng-model="newComputer.sale.endDate")
              input.form-control(type="number" placeholder="Enter the sale's discount rate here." ng-model="newComputer.sale.discountRate" step="0.01" ng-min="0.01" ng-max="0.99")
            input(type="submit" wz-next value="Continue")

          //wz-step(wz-title="Related Products")
            
            h2 Related Products
            .embedded-form
              p Please choose related products that are recommended for this product 
                select.form-control(type='select' name='recommendedProducts' ng-options="computer as computer.name for computer in availableComputers track by computer._id" ng-model='newComputer.recommendedProducts' multiple)
              ul.list-group(ng-repeat="product in newComputer.recommendedProducts")
                li.list-group-item {{product.name}}
            input(type="submit" wz-next value="Continue")

          wz-step(wz-title="Pictures")
            h2 Add Pictures
              .embedded-form
                p Choose pictures to upload
                  input(type="file" ngf-select ng-model="newPictures" name="file" accept="image/*" ngf-max-size="4MB" ngf-multiple="true")
                  p(ng-show="newPictures.length > 0") Click on an Image to set it as a display picture
                  ul.list-group(ng-repeat="picture in newPictures")
                    li.list-group-item(ng-class="{highlightOption: picture.displayPicture}" ng-click="setAsDisplayPicture(picture.name)")
                      img.thumb(ng-show="computerform.file.$valid" ngf-thumbnail="picture" height="100" width="100")
                  
                  //span.progress(ng-show="newPicture.progress >= 0")
                  //div(style="width:{{newPicture.progress}}%" ng-bind="newPicture.progress + '%'")
                  //span(ng-show="newPicture.result") Upload Successful 
            input(type="submit" wz-next value="Continue")          

          wz-step(wz-title="Review")
            h2 Review
              .embedded-form
                p Please review all information before finalizing this product
            button.btn.btn-primary(ng-disabled="computerform.$invalid" type='submit') Create Computer  

          span.err(ng-show="errorMsg") {{errorMsg}}


