
.container
	.row
		.col-lg-12
			h2 Wishlists
			form.form(role="form" name="wishlistSearch" ng-submit="wishlistSearch.$valid && searchWishlists(wishlistSearch, giftee)")
				p.help-text Use this form to search for people's wishlists. Not all fields must be filled out.
				.form-group
					label(for="name") Full Name
					input.form-control(type="text" name="name" placeholder="Please enter the giftee's full name." ng-model="giftee.name")
				.form-group
					label(for="email") Email Address
					input.form-control(type="email" name="email" placeholder="Please enter the giftee's email address." ng-model="giftee.email")
				button.btn.btn-primary(type="submit" ng-disabled="giftee | isEmpty") Search

	.row
		.col-lg-12
			ul.list-group(ng-repeat="wishlist in wishlistQuery")
				li.list-group-item
					p Name: {{wishlist.name}}
					p Items: {{wishlist.products.length}}
					a(ui-sref="showWishlist({id: wishlist._id})" ng-if="wishlist.products.length > 0") Go to Wishlist
