h3 {{wishlist.name}}'s Wishlist

ul.list-group(ng-repeat="product in wishlist.products")
	li.list-group-item 
		a.pull-left(src="product.displayPicture")
		p {{product.name}}
		toggle-item-wishlist(product-id="product._id" ng-if="isOwner")
		button.btn.btn-primary(ng-click="purchaseFromWishlist()" ng-if="!isOwner") Purchase for User 

		

