h3 {{wishlist.name}}'s Wishlist

p(ng-if="wishlist.products.length < 1") Your wishlist in empty.
ul.list-group(ng-repeat="product in wishlist.products" ng-if="wishlist.products.length > 0")
	li.list-group-item 
		a.pull-left(src="product.displayPicture")
		p {{product.name}}
		toggle-item-wishlist(product-id="product._id" ng-if="isOwner")
		button.btn.btn-primary(ng-click="purchaseFromWishlist()" ng-if="!isOwner") Purchase for User 

		

