header#banner.hero-unit
  .container
    h1 Store Website
    p.lead Purchase state-of-the-art electronics for discounted prices.

.container
  .row
    .col-lg-4
      a(href='/products/computers')
        img.center(src='computer.jpg' height='200' width='200')
      p.center Computers
    .col-lg-4
      a(href='/products/keyboards')
        img.center(src='keyboard.jpg' height='200' width='200')
      p.center Keyboards
    .col-lg-4
      a(ui-sref='products.test')
        img.center(src='no_image.jpg' height='200' width='200')
      p.center Test


  //.row
    .col-lg-12
      h1.page-header Categories:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6
        li
          a(href='/computers')
            img(src='computer.jpg' height='200' width='200')
        li
          a(href='/keyboards')
            img(src='keyboard.jpg' height='200' width='200')



//.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New Thing

//.container(ng-controller="ProductsCtrl")
  .row
    .col-lg-12
      h1.page-header Products:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='product in featuredProducts')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{product.name}}
