.product-container-flexbox
  .product-flexbox(ng-repeat="product in featuredProducts")
    .flex-item
      img.center-block(src='{{product.displayPicture.path}}' width='150' height='150' ng-if='product.displayPicture')
      img.center-block(src='no_image.jpg' width='150' height='150' ng-if='!product.displayPicture')
    .flex-item
      a.text-center(href="#") {{product.name}}
    .flex-item
      p.text-center Price: {{computer.price}}
    .flex-item
      ngcart-addtocart.center-block(id="{{product._id}}" name="{{product.name}}" price="{{product.price}}" quantity="1" quantity-max="30" data="product") Add to Cart
