title Product Form

.container
	nav.navbar.navbar-default
		ul.nav.navbar-nav
			li
				a(ui-sref="newComputer") New Computer
			li
				a(ui-sref="newMonitor") New Monitor
			li
				a(ui-sref="newKeyboard") New Keyboard

	ui-view
