.container(ng-controller="InfoCtrl")
  .info-block
    p.center-text(ng-if="!isActive && isLoggedIn") You have not activated your account. Please check your inbox or click 
      span(ng-click="sendActivationEmail()") 
        b  here 
      span  to resend the activation email.

    alert-message
    flash-message
