h3 Payment Methods

ul.list-group
	li.list-group-item(ng-repeat="payment in paymentMethods")
		p {{payment.cardType}}
		p {{payment.cardNumber}}
		button.btn.btn-primary(ng-click="removePaymentMethod(payment._id)" ng-if="isOwner(payment.user)") Remove

a(ui-sref="settings.paymentOptions.new") Add a new payment method

ui-view
