
.product-pictures-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.product-flexbox:nth-child(1) {
  //work with flex and order properties
}

.flex-item {
  padding: 2px;
}




.gallery-img {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 100px;
}

.edit-message {
	//color: green;
	background-color: #80ff80;
	font-size: 16pt;
}
.pristine_form {
	//white-space: nowrap;
	background-color: #80ff80;  
}
.dirty_form {
	background-color: #ff5c33;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}