
.container
	.row
		.col-lg-6
			h2 Search for User
			form.form(role="form" name="userSearchForm" ng-submit="searchUsers(query)")
				p.help-text Use this form to search for user's. Not all fields must be filled out.
				.form-group
					label(for="name") Name
					input.form-control(type="text" name="name" ng-model="query.name")

				.form-group
					label(for="phoneNumber") Phone Number
					input.form-control(type="tel" name="phoneNumber" ng-model="query.phoneNumber" pattern="1?[0-9]{3}-?[0-9]{3}-?[0-9]{4}")
				//pattern="^((1)?\d{10})$"
				.form-group
					label(for="email") Email Address
					input.form-control(type="email" name="email" ng-model="query.email")
				.form-group
					label(for="cardNumber") Reward Card Number
					input.form-control(type="number" name="cardNumber" ng-model="query.cardNumber" pattern="[0-9]{8}" oninvalid="setCustomValidity('Please enter an 8 digit number.')")
				button.btn.btn-primary(ng-disabled="formInactive" type="submit") Search
	.row
		ui-view



				//.form-group
					label(for="firstName") First Name
					input.form-control(type="text" name="firstName" ng-model="query.firstName")
				//.form-group
					label(for="lastName") Last Name
					input.form-control(type="text" name="lastName" ng-model="query.lastName")