
md-nav-bar(md-selected-nav-item="currentNavItem")
	md-nav-item(md-nav-sref="settings.account.info" name="page1") Info
	md-nav-item(md-nav-sref="settings.account.password" name="page2") Password
	md-nav-item(md-nav-sref="settings.account.address" name="page3") Addresses

ui-view
