.row
  alert-message

.row
  ui-view(id="updateForm")

.row
  h2 Account Details
  p Name: {{user.name}}
  p Email: {{user.email}}
  p Phone Number: {{user.phoneNumber}}
  p Receive Promotional Emails?: {{user.promotionalEmails | yesNo}}

  .col-lg-4
    a.btn.btn-primary(href="/settings/account/password") Change Password
  .col-lg-4
    a.btn.btn-primary(href="/settings/account/email") Change Email
  .col-lg-4
    a.btn.btn-primary(href="/settings/account/info") Change Info

  //.view(ui-view="info")

.row 
  .col-lg-6
    h3 Billing Address
    ul.list-group(ng-repeat='billing in user.billingAddress')
      li.list-group-item Street Address: {{billing.street}}
      li.list-group-item City: {{billing.city}}
      li.list-group-item Postal Code: {{billing.postalCode}}
      li.list-group-item Province: {{billing.province}}
      li.list-group-item Country: {{billing.country}}
    a.btn.btn-primary(href="/settings/account/billing") Edit your billing address


  .col-lg-6
    h3 Shipping Address
    ul.list-group(ng-repeat='shipping in user.shippingAddresses')
      li.list-group-item NickName: {{shipping.nickname}}
      li.list-group-item Street Address: {{shipping.street}}
      li.list-group-item City: {{shipping.city}}
      li.list-group-item Postal Code: {{shipping.postalCode}}
      li.list-group-item Province: {{shipping.province}}
      li.list-group-item Country: {{shipping.country}}
      button.btn.btn-primary(ng-click='setAsPrimaryAddress(address)') Set this as your primary shipping address.
    a.btn.btn-primary(href="/settings/account/shipping") Edit your billing address

  //.view(ui-view="address")




