
.container
	ngcart-cart
	.row
		//.col-lg-4
			p Paypal
			ngcart-checkout(service="paypal" settings="paypal-settings")
		.col-lg-4
			a.md-button.md-raised(ng-disabled="itemCount < 1" ng-click="goToCheckout(itemCount)") Checkout
