.container
  .row
    form.form(role="form" name="recoverPasswordForm" ng-submit="requestPasswordReset(user)" novalidate)
      .form-group
        label(for="email") Email Address
        input.form-control(type="email" name="email" placeholder="Please enter your email." ng-model="user.email" pattern="[A-Za-z0-9]+@([A-Za-z])+(\\.[A-Za-z]+)+" required)

        button.btn.btn-primary(type="submit") Recover Password
