.container
  .row
    form.form(role="form" name="recoverPasswordForm" ng-submit="requestPasswordReset(email)" novalidate)
      label(for="email") Email Address
        input.form-control(type="email" name="email" placeholder="e.g. 123@gmail.com" ng-model="email" pattern="[A-Za-z0-9]+@([A-Za-z])+(\\.[A-Za-z]+)+" required)

      .btn-submit
        button.btn.btn-primary(type="submit") Recover Password
