.container
  .row
    form.form(role="form" name="resetPasswordForm" ng-submit="resetPassword(resetPasswordForm, user)" novalidate)
      .form-group
        label(for="newPassword") New Password
        input.form-control(type='password', name='newPassword', ng-model='user.newPassword', ng-minlength='3', required='')
        p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)')
          | Password must be at least 3 characters.
      .form-group
        label(for="confirmPassword") Confirm Password
        input.form-control(type='password', name='confirmPassword', ng-model='user.confirmPassword', ng-minlength='3', required='')
        p.help-block(ng-show='(resetPasswordForm.newPassword.$error.minlength || resetPasswordForm.newPassword.$error.required) && (resetPasswordForm.newPassword.$dirty || submitted)')
          | Password must be at least 3 characters.

      button.btn.btn-primary(type="submit") Reset Password
