.container
	alert-message
	.review-container
		.flex-review
			h3 {{currentReview.product.name}} Review
			md-list(ng-init="rating = star.rating + 1")
				md-list-item.verified(ng-if="currentReview.verified") VERIFIED REVIEWER
				md-list-item Author: {{currentReview.author.name}}
				md-list-item Upvotes: {{currentReview.upvotes.length}}
				md-list-item Rating:
					div.no-touch(class='star-rating' star-rating rating-value="rating" data-max="10")
				md-list-item Description: {{currentReview.summary}}
				md-list-item
					a(href='#', ng-click='upvoteReview(currentReview)' ng-show='!isDuplicateLike') Helpful?
					a(href='#', ng-click='removeUpvote(currentReview)' ng-show='isDuplicateLike') Unhelpful?
				//md-list-item
					p(ng-repeat='upvote in currentReview.upvotes') {{upvote.userName}}
